*{
    margin:0px;
    padding:0px;
}
body{
    font-family:Arial, Helvetica, sans-serif ;
    cursor:pointer;
    
}
.navbar{
    background-color: rgb(243, 43, 110);
    padding:15px;
    text-align:center;
    font-style:italic;
}
.container{
    
    padding:10px;
   
    

}
.book-container{
    padding:15px;
    width:25%;
    border-radius:10px;
    margin:30px;
    background-color:black;
    color:white;
    display:inline-block;
    vertical-align: top;
    
    
}
.book-container h2{
color: rgb(243, 43, 110);
}
.book-container button{
    background-color: rgb(243, 43, 110);
    color:black;
    border-radius:10px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:10px;
    padding-right:10px;
    margin-top:10px;
    border:none;

}
.add-button{
    background-color:rgb(243, 43, 110);
    color:black;
    border-radius:100%;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:30px;
    padding-right:30px;
    font-size:40px;
    border:none;
    position:fixed;
    bottom:30px;
    right:30px;
}
.popup-overlay{
    background-color:black;
    opacity:0.8;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index: 1;
    display:none;
}
.popup-box{
    background-color:rgb(243, 43, 110);
    width:40%;
    padding:40px;
    border-radius:10px;
    position:absolute;
    top:20%;
    left:20%;
    z-index:2;
    display:none;
}
.popup-box input{
    background-color:rgb(243, 43, 110);
    border:none;
    width:100%;
    margin:5px;
    padding:5px;
    font-size: 20px;
    border-bottom:solid black 2px;
}
.popup-box textarea{
    background-color:rgb(243, 43, 110);
    width:100%;
    
    margin:5px;
    padding:10px;
    font-size: 20px;
    border:solid black 2px;
    overflow:auto;
}
.popup-box input::placeholder{
    color:black;

}
.popup-box textarea::placeholder{
    color:black;
}
.popup-box button{
    background-color: black;
    color:white;
    border-radius:5px;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
    padding-right:15px;
    margin-top:10px;
    border:none;

}
.popup-box input:focus{
    outline:none;
}
.popup-box textarea:focus{
    outline:none;
}